    header {
      text-align: center;
      background-size: cover;
      color: white;
    }
    .nav {
      color:#4ff4a2;
    }
    h1 {
      font-size: 70px;
       color:#7cfad9 ;
        padding: 5px;
        font: "cursive"; 
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid #7cfad9;
      border-radius: 40px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    #profile{
      height:300px;
      width: 300px;
    }
    .project {
      font-family: cursive;
      color:#00ffff ;
      font-size: 20px
    }
    @media (max-width: 500px) {
      }
      li {
        padding: 5px;
        display: block;
       
      } 
    #yellow {
        background: url("images/melloyellow.jpg");
    }
        
    #blue   {
        background-color: #ff1bff
       
      
      }
    
